/* ----- Felles for alle sider ----*/

body{
  font-family: "Lato", sans-serif;
  font-weight: 100;
}

/*----- Header og Knapper til Desktop ----- */
    .container-bakgrunnMobile{
        background: url(../media/header_short.png); /*Bakgrunnsbilde for header - mobil og tablet */
        background-size: contain;
        height: 12vh;
        Width: 100%;
        background-repeat: repeat-x; /*repeterer bakgrunn på x-aksen */
    }

    .displayContainer{
        display: none; /* Mobile first*/
    }
        /*Til header */
    .container-bakgrunn{
        height:20vh;
        width: 100%;
        margin: 0;
        padding: 0;
        background:url(../media/header_long.png); /*Bakgrunnbilde for desktop */
        background-size: contain;
        background-repeat: no-repeat; /*Kan settes på repeat-x for gjentagende bilde */
    }
    /*container til header-menyknapp*/
    .container-knapp {
        text-align: center;
        width: 100%;
    }

    .StorKnappStyle{ /*tom*/

    }
        /*Style til button */
    .StorKnappStyle button{
        border: 2px solid rgb(255,255,255); /*White*/
        padding: 2px 4px;
        background-color: rgb(1,71,100); /*Mørk blå (samme som logoen) */
        color: white; /*tekstfarge*/
        margin-top: 2vh; /*sikrer plassering */
        margin-bottom:2vh; /*sikre plassering */
        letter-spacing: 2px; /*kan justeres */
        font-size: 20px; /*størrelsen på knappen kan styres her */
    }
        /*Hva skjer med menyknappen ved hover */
    .StorKnappStyle button:hover {
        background-color: rgb(2, 137, 196); /*teal*/
        transition:all 0.3s ease-in-out; /*overgangen*/
    }

/* ----- Mobil-meny ----- */
        /*style til Menyknappen */
    .menyKnapp{
        background-color: transparent;
        color: #696969; /*grå*/
        border: 2px solid #696969; /*grå*/
        font-weight: 100;
        letter-spacing: 1px; /*kan økes */
        text-transform: uppercase; /*kan settes til lowercase */
        padding: 2px 4px; /*avstand mellom text og boks */
        font-size: 12px; /*størrelse på knappen */
    }
    /*Stil til innholdet i dropdown-menyen */
    .meny-innhold {
        position: absolute; /*viktig */
        background-color: #f9f9f9; /*lysegrå */
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    /* videre style til a-elementene */
    .meny-innhold a {
        color: #696969; /*grå*/
        border: 2px solid #696969; /*grå*/
        font-weight: 100;
        letter-spacing: 1px; /*kan økes */
        padding: 2px 4px;
        font-size: 16px; /*størrelse på menyen */
        display: block;
        text-align: center;
        background-color: Transparent;
        text-decoration: none;
       }

/* ----Slutt på felles for alle */


/* ----- Lekeplasser  ----- */

    .kartDiv{
        margin-left: 30px; /*gir avstand mellom liste og kart */
    }
        /*setter flex til kart og tabell*/
    .flexContainer-TabellogKart{
        display: inline-flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: space-between;
        flex: 1 1 auto;
    }

        /* Styrer kartets proposjoner */
    #kart {
        width: 100%;
        height: 400px;
    }


    /* Style til table - benyttes i Javascriptet */
    .tblStyle{
        display: flex;
     flex-wrap: wrap;
     margin: 1 1 3em 2;
     padding: 3;
    }
    /*til generert tabell - js */
    .tblHeader{
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: gray;
        color: white;
    }
    /*til generert tabell - js */
    .table-container{
    margin : 0 auto;
    font-size : 4vw;
    flex-wrap: nowrap;
    flex-direction: column;

    }
    /*setter proposjoner til tabell */
    .tabell-style{
    width: 100%;
    height: 500px;
    overflow: scroll; /*for scrolle-meny*/
}


/* ----- Arbeidsledighet ------ */

/*container for alle elementene */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.input-container{ /*størrelse på input-boksen*/
    width:6vw;
}


/* stylingen til knappene for valg av måned */

.månedsMeny a:hover {background-color: #A9A9A9;}

    /*designet av knapp brukt på flere av sidene */
    /*standard blå knapp */
.dropdownArbeidsledighet {
    border: 2px solid rgb(255,255,255); /*White*/
    padding: 16px;
    background-color: rgb(1,71,100); /*Mørk blå (samme som logoen) */
    margin-bottom:2vh; /*sikre plassering */
    letter-spacing: 2px; /*kan justeres */
    color: white; /*tekstfarge*/
    margin-top: 2vh; /*sikrer plassering */
    font-size: 20px; /*størrelsen på knappen kan styres her */
    cursor: pointer;
}

    /*style til innhold av dropdown */
.dropdown-arbeidsledighet-innhold2 {
    background-color: #2B60DE;
    color: white;
    cursor: pointer;
    padding: 16px;
    font-size: 16px;

}
    /*style til innhold av dropdown */
.dropdown-arbeidsledighet-innhold {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    font-size: 20px;


}
    /* style til selve a-elementet i dropdown*/
    /*For å justere stilen inne i elementene, begynn her */
.dropdown-arbeidsledighet-innhold a {
    color: black;
    padding: 8px;
    text-decoration: none;
    display: block;

}
    /*hva som skjer ved hover over elementene i dropdown */
.dropdown-arbeidsledighet-innhold a:hover {

    background-color: rgb(127 127 127); /*endrer farge */

}

.show { /*Om inneholdet i meny vises */
    display:block
}

.input-wrapper{ /*Hvordan input er organisert - her inline-block */
    display: inline-block;

}
.input-innhold{ /*styrer størrelsen på inputboksene - her satt stor for mobile first */
    font-size:20px; /*juster for størrelsen på boks */
}

.canvas-graf{ /*inneffektiv - blir overstyrt av JS på height og width */
    min-height: 100%;
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;

}

.wrapper-arbeidsledighet{ /* for mobile first - midstiller */
    display: block;
    text-align: center;
}

.presenter-data{ /*juster for mindre eller mer luft mellom knapp og alternativer */
    margin-top: 30px;
}

.avkrysning-arbeidsledighet{ /*luft mellom input og avkrysning */
    padding-top: 30px;
}


/* ----- Standard layout || brukt på forside ----*/

.forside-wrapper { /*wrapper for flexbox */
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}

.forside-wrapper > * {
    flex: 1 100%;
    padding: 8px;

}
/*floxbox topp */
.forside-topp {
background: white; /*kan endres*/
}

.footerForside {
background-color: rgb(1,71,100); /*mørk blå - samme som logo */
color: white;

}

/*venstre side*/
.sidefyll-1 {
display: inline;
flex-direction: column;
text-align: center;
flex-wrap:wrap;
justify-content: flex-start;
width: 5vw; /*vidden på diven ved tom*/
}
/*bilde venstre side */
.sidefyll-1 img{
max-height:100%;
max-width:100%;
}

/*høyre*/
.sidefyll-2 {
display: inline;
flex-direction: column;
text-align: center;
flex-wrap:wrap;
justify-content: flex-start;
width: 5vw; /*vidden på diven ved tom*/
}

/*venstre side bilde*/
.sidefyll-2 img{
max-width:100%;
max-height:100%;

}

/*forsidebilde*/
#bergenbilde{ /*brukes kubn på forside */
width:100%; /*scaler med div */
height: 100%;
}

/*div til forsidebilde - bestemmer størrelse*/
.forside-bilde {
text-align: left;
background-size: contain; /*ikke nødvendig */
background-repeat: no-repeat; /*ikke nødvendig*/
width:800px;
height:450px;
}

/*------ Favoritter - brukes på samme måte ------ */
/*justering for favoritt-tabell - mobile first - endres i media query */
.forside-bilde2{
    text-align: center; /*midtstiller innholdet*/
}
/*justering for søkefunksjon*/
.forside-bilde3{
    text-align: left;
}

.valgStyle{

    width:100%;
    height:100%;
    justify-content: center;

}



/* --------Media query-------- */

    /* tablets og større telefoner */
    @media (min-width: 769px) {
        /*setter opp font-size ved tablet */
        .container-tabell {
            font-size : 4vw;
        }
        /* Setter høyde- og breddeverdier til kartet.*/
        #kart{
            width: 100%;
            height: 500px;
            margin-left: 0px;
        }
        .sidefyll { flex: 1 auto; } /*gir sidefyllet mulighet til å vokse */

    }

    /* Medium enheter - mindre desktopper */
    @media (min-width: 970px){

        .container-tabell{
            font-size : 100%; /*Normal størrelse for desktop */
        }
        /* Setter høyde- og breddeverdier til kartet.*/
        #kart{
            width: 350px;
            height: 350px;
            margin-left: 10px;
        }
        .menyKnapp{
            display: none; /* Fjerner dropdown-meny til mobil */
        }
        .container-bakgrunnMobile{
            display:none; /*Fjerner bakgrunnsbilde til mobil */
        }
        .displayContainer{
            display: initial; /*Setter bakgrunnsbilde for desktop samt menyknapper på */
        }
        .wrapper-arbeidsledighet{ /*arbeidsledighet.html - venstrestiller elementene ved desktop*/
            display: block;
            text-align: left;
        }

        .input-innhold{
            font-size:12px; /*setter størrelsen på inputboksen*/
        }
        .dropdownArbeidsledighet {

            font-size: 12px; /*størrelsen på knappen kan styres her */
            cursor: pointer;
        }
        /* ----- Standard flexbox - responsive design ----- */

        .forside-bilde { /*midt-element*/
             flex: 3 0px; /*setter hvor mye elementet kan vokse */
         }
         .forside-bilde2 {
              flex: 3 0px; /*tilsvarende for 2 */
          }
          .forside-bilde3 {
               flex: 3 0px; /*tilsvarende for 2 */
               margin-left: 300px;
           }
          /*order av elementer i standard flexbox*/
        .sidefyll-1 {
            order: 1;
         }
        .forside-bilde {
             order: 2;
         }
         .forside-bilde2 { /*Vi ønsker samme oppførsel på de ulike forside-bilde klassene */
              order: 2;
          }
          .forside-bilde3 {
               order: 2;
           }
        .sidefyll-2 {
            order: 3;
        }
        .footerForside {
             order: 4;
          }

    }
    /* større desktop */
    @media (min-width: 1170px) {


        .container-tabell { /*større plassutnyttelse */
            font-size : 100%;
        }
        #kart{ /*justerer opp størrelsen på kart */
            width: 500px;
            height: 500px;
            margin-left: 20px;
        }
        .StorKnappStyle button{
            margin-top: 4vh; /*midtsentrer knapper noe for større desktop */
    }
    /*Ekstra store skjermer ---- Gjelder kun sider med tabeller*/
    @media (min-width: 1920px) {
        /* Juster opp størrelsen på kartet - bedre plassutnyttelse */
        #kart{
            width: 650px; /*Kan justeres */
            height: 650px;  /*Kan justeres */
            margin-left: 20px; /*Justerer avstand mellom kart og tabell - kan justeres */
        }
        .container-tabell{
            font-size : 150%; /*større skrift for bedre plassutnyttelse */
        }
    }
